<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Learn Vue JS</title>
    </head>
    <body>
        <div class="container card">
            <div class="jumbotron bg-info">
                <h1>Vue JS</h1>
            </div>
            <div id="app" class="form-group">
                <h1>{{ message }}</h1>
                <input type="text" name="" value="" v-model="message" class="form-control">

                <br>
                <p>
                      Visit: <a v-bind:href="url">{{ cleanUrl }}</a>
                </p>
                <input type="text" class="form-control" v-model="url">
                <button type="button" name="button" class="btn btn-success" @click="humanizeUrl" style="margin-top: 10px">Humanize Me !!!!</button>

                <br><br>
                <h3>Count : {{ count }}</h3>
                <button type="button" name="button" class="btn btn-success" @click="countUp">Count Up</button>
                <button type="button" name="button" class="btn btn-danger" @click="countDown">Count Down</button>
            </div>
        </div>
    </body>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message : "This is a message",
                count: 0,
                url: "",
                cleanUrl: ""
            },
            methods: {
                countUp: function(){
                    this.count += 1
                },
                countDown: function(){
                    this.count -= 1
                },
                humanizeUrl: function(){
                    this.cleanUrl = this.url.replace(/^https?:\/\//, '').replace(/\/$/, '')
                }
            }
        })
    </script>
</html>
